@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  box-sizing: border-box;
  margin: 0 40px;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-1 {
  display: flex;
  align-items: center;
}

.col-1 ul {
  display: flex;
}

.feature::after {
  content: url("./images/icon-arrow-up.svg");
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.feature.rotate::after {
  content: url("./images/icon-arrow-down.svg");
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.company::after {
  content: url("./images/icon-arrow-down.svg");
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.company.rotate::after {
  content: url("./images/icon-arrow-up.svg");
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.col-1 ul li {
  list-style-type: none;
  margin: 0 40px;
  cursor: pointer;
}

.col-2 {
  width: 40%;
}

.col-2 button {
  float: right;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  background: none;
  font-size: 14px;
}

.col-2 button:nth-child(1) {
  border: none;
}

/** Drop down*/

.feature-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #b9b9b9;
  padding: 10px;
  line-height: 0;
  position: relative;
  width: 120px;
  top: 0;
  left: 10%;
  display: none;
}

.feature-container li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-company {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #b9b9b9;
  padding: 10px;
  position: relative;
  line-height: 30px;
  width: 120px;
  top: 0;
  left: 22%;
  text-align: center;
  display: none;
}

.about-company li {
  list-style-type: none;
}

.about-company p:hover {
  cursor: pointer;
}

/** container */
.container {
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-left h1 {
  font-size: 70px;
  line-height: 75px;
}

.hero-left h1 span {
  display: block;
}

.hero-left p {
  width: 50%;
}

.hero-left button {
  padding: 10px 20px;

  background: #000000;
  color: #ffffff;
  font-weight: bold;
}

.brands {
  margin-top: 50px;
}

.brands img {
  margin: 0 25px 0 0;
}

.hero-right img {
  height: 600px;
}

button {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.hero-right img:nth-child(2) {
  display: none;
}

.hamburger-menu {
  display: none;
}

.close {
  display: none;
}

.responsive-nav {
  display: none;
}

/* media queries */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  nav {
    margin: 20px;
  }

  .container {
    margin: 0;
    margin-top: 19%;
    padding: 0;
    flex-direction: column-reverse;
  }

  .hero-left {
    margin-bottom: 20px;
  }

  .hero-left h1 {
    font-size: 30px;
    line-height: 55px;
    text-align: center;
  }

  .col-1 ul {
    display: none;
  }

  .col-2 {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hero-left h1 span {
    display: inline;
  }

  .hero-left p {
    width: 100%;
    padding: 10px;
  }

  .hero-left button {
    margin: auto;
  }

  .brands img {
    margin: 0 25px 0 0;
    width: 60px;
  }

  .button-container {
    display: flex;
  }

  button {
    border: 1px solid #000;
    margin: 0 auto;
  }

  .brands {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* hero right */
  .hero-right img:nth-child(2) {
    display: block;
  }

  .hero-right img:nth-child(1) {
    display: none;
  }

  .hero-right {
    width: 100%;
  }

  .hero-right img:nth-child(2) {
    width: 100%;
    height: auto;
  }

  .responsive-nav {
    display: block;
    background: #ffffff;
    width: 70%;
    box-shadow: 0px 5px 100px #000000;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    font-size: 20px;
    transform: translateX(200%);
  }
  .responsive-nav.active {
    transform: translateX(0);
  }

  .col-1-reposive {
    padding: 10px;
  }

  .feature-container-reponsive {
    display: none;
  }

  .feature-container-reponsive {
    line-height: 35px;
    margin-left: -100px;
  }

  .feature-container-reponsive li span {
    margin-left: -90px;
    font-size: 16px;
  }

  .about-company-responsive {
    display: none;
  }

  .about-company-responsive {
    margin-left: -100px;
    font-size: 16px;
    margin-top: 5px;
    line-height: 35px;
  }

  .col-1-reposive ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .feature-responsive::after {
    content: url("./images/icon-arrow-down.svg");
    width: 30px;
    height: 30px;
  }

  .feature-responsive.rotate::after {
    content: url("./images/icon-arrow-up.svg");
    width: 30px;
    height: 30px;
  }

  .company-responsive::after {
    content: url("./images/icon-arrow-down.svg");
    width: 30px;
    height: 30px;
  }

  .company-responsive.rotate::after {
    content: url("./images/icon-arrow-up.svg");
    width: 30px;
    height: 30px;
  }

  .col-2-responsive {
    width: 100%;
  }

  .col-2-responsive button {
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    background: none;
    font-size: 14px;
    display: block;
  }

  .col-2-responsive button:nth-child(1) {
    border: none;
  }

  .career {
    width: 100px;
  }

  .about {
    width: 100px;
  }

  .close {
    display: block;
    float: right;
    margin-bottom: 40px;
  }
}
